body {
  background-color: rgb(0, 0, 0);
  color: rgb(0, 255, 64);
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  caret-color: rgb(0, 255, 64);
  width: 1000px;
  margin: auto;
  border: solid rgb(0, 255, 64);
}

.form {
  width: 500px;
}

.field {
  color: rgb(0, 255, 64);
  background: black;
  border: 1px solid rgb(0, 255, 64);
}

input[type="number"].field{
  width: 40px;
}

input[type='radio'] {
    position: absolute;
    opacity: 100;
}

.select {
  display: inline;  
  padding-right: 5px;
  float: left;
  opacity: 0;
}

label:hover .select{
  display: inline;
  opacity: 100;
}

label:hover {
  cursor: pointer;
}

input:checked ~ .select {
  opacity: 100;
}

#ansDiv {
  text-align: center;
  margin: auto;
}
img {
  width: 200px
}